@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<body class="aboutbackground">


</body>



<h2>Get More Information about Individual World Wide Stats </h2>
<p><a class="btn btn-dark" href="https://stats.espncricinfo.com/ci/engine/records/index.html?category=9;class=1">Learn more about Cricket and Cricketers &raquo;</a></p>

