@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<div class="contact-atif">
    15374 Ackerley Drive<br />
    Fishers, IN 46040<br />
    Tel:317.966.6982 <br />
    Email: ab5143@hotmail.com<br />
</div>

